/**
 * OFFICE CAROUSEL
 */
.OfficeCarousel-Label {
  display: block;
  margin-bottom: 1.5rem;
}
.OfficeCarousel-ImageWrapper {
  position: relative;
  display: block;
  width: 100%;
  padding-top: 67%;
  background-color: #393f42;
}
.OfficeCarousel-Image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 0;
  transition: 500ms ease opacity;
}
.OfficeCarousel-Image_active {
  opacity: 1 !important;
}

.OfficeCarousel-Thumbnails {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  margin-top: 1rem;
}
.OfficeCarousel-Thumbnail {
  position: relative;
  display: block;
  width: 100%;
  padding-top: 67%;
  background-color: #393f42;
}
.OfficeCarousel-ThumbnailImage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.OfficeCarousel-ThumbnailOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  background-color: rgba(223, 23, 32, .65);
}
.OfficeCarousel-ThumbnailOverlay_visible {
  display: block !important;
}

@media (min-width: 768px) {
  .OfficeCarousel-Label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0;
    padding-right: 2.5rem;
  }
  .OfficeCarousel-Title {
    display: block;
  }
  .OfficeCarousel-Layout {
    display: grid;
    grid-template-columns: 50% 50%;
    
  }
  .OfficeCarousel-Thumbnails {
    margin-top: 2rem;
  }
}
@media (min-width: 992px) {
  .OfficeCarousel-Layout {
    grid-template-columns: 40% 60%;
  }
  .OfficeCarousel-Thumbnails {
    margin-top: 2.5rem;
  }
}
@media (min-width: 1200px) {
  .OfficeCarousel-Label {
    padding-right: 3.5rem;
  }
}
