.OfficeCarousel-Thumbnails {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  margin-top: 1rem;
}
.OfficeCarousel-Thumbnail {
  position: relative;
  display: block;
  width: 100%;
  padding-top: 67%;
  background-color: #393f42;
  cursor: pointer;
}
.OfficeCarousel-ThumbnailImage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.OfficeCarousel-ThumbnailOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  background-color: rgba(223, 23, 32, .65);
}
.OfficeCarousel-ThumbnailOverlay_visible {
  display: block !important;
}
