.CultureCarousel {
  position: relative;
  display: block;
}

.CultureCarousel-Image {
  width: 100%;
}

.CultureCarousel-Label {
  margin-bottom: 1.75rem;
}

.CultureCarousel-Controls {
  margin-top: 1rem;
  text-align: right;
}

@media (min-width: 768px) {
  .CultureCarousel {
    display: flex;
    align-items: flex-end;
  }

  .CultureCarousel-Image {
    width: 75%;
  }
  .CultureCarousel-Label {
    position: absolute;
    top: 2rem;
    right: 0;
    width: 17rem;
  }
  .CultureCarousel-Title {
    display: block;
  }

  .CultureCarousel-Controls {
    margin-left: 3rem;
  }
}
@media (min-width: 992px) {
  .CultureCarousel-Image {
    width: 78%;
  }
  .CultureCarousel-Label {
    top: 4rem;
    right: 2rem;
  }
}
@media (min-width: 1200px) {
  .CultureCarousel-Image {
    width: 72%;
  }
  .CultureCarousel-Label {
    top: 5rem;
    right: 5rem;
    width: 21rem;
  }
}
