.CultureCarousel {
  position: relative;
  display: block;
}

.CultureCarousel-ImageWrapper {
  position: relative;
  display: block;
  width: 100%;
  padding-top: 67%;
  background-color: white;
}
.CultureCarousel-Image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.CultureCarousel-Label {
  margin-bottom: 1.75rem;
}

.CultureCarousel-Controls {
  margin-top: 1rem;
  text-align: right;
}

@media (min-width: 768px) {
  .CultureCarousel {
    display: grid;
    grid-template-columns: 75% 25%;
  }
  .CultureCarousel-Label {
    position: absolute;
    top: 2rem;
    right: 0;
    z-index: 1;
    width: 17rem;
  }
  .CultureCarousel-Title {
    display: block;
  }
  .CultureCarousel-Controls {
    margin-left: 3rem;
  }
}

@media (min-width: 992px) {
  .CultureCarousel-Label {
    top: 4rem;
    right: 3.5rem;
  }
}

@media (min-width: 1200px) {
  .CultureCarousel-Label {
    top: 5rem;
    right: 3rem;
    width: 21rem;
  }
}
