.Contact {
  padding-top: 4.5rem;
  padding-bottom: 2rem;
}

/**
 * Header
 */
.Contact-Image {
  width: 100%;
}
.Contact-HeaderLarge {
  display: none;
}
@media (min-width: 400px) {
  .Contact-HeaderSmall {
    display: none;
  }
  .Contact-HeaderLarge {
    display: block;
  }
}

/**
 * Title & Subtitle
 */
.Contact-TitleSection {
  margin-top: 2rem;
}
.Contact-Title {
  display: inline;
  padding: 0 .5rem .25rem;
  background-color: #df1720;
  color: white;
  font-size: 1.5rem;
  box-decoration-break: clone;
}
.Contact-Subtitle {
  display: inline-block;
  margin-top: .75rem;
  margin-left: .5rem;
  font-size: 1rem;
}
@media (min-width: 576px) {
  .Contact-TitleSection {
    margin-bottom: 1rem;
  }
}
@media (min-width: 768px) {
  .Contact-TitleSection {
    padding-left: 3rem;
  }
}
@media (min-width: 992px) {
  .Contact-TitleSection {
    float: left;
    width: 50%;
    margin-top: 3rem;
  }
}

/**
 * Info
 */
.Contact-InfoSection {
  padding-left: .5rem;
}
.Contact-MailLink {
  color: #df1720;
}
.Contact-Heading {
  display: block;
  margin-top: 2.5rem;
  margin-bottom: .5rem;
  color: #393f42;
  font-size: 1.15rem;
  font-weight: 500;
  line-height: 1;
}
.Contact-Paragraph {
  display: block;
  color: #393f42;
  line-height: 1.75;
}
@media (min-width: 576px) {
  .Contact-InfoBlock {
    width: 50%;
    float: left;
  }
  .Contact-Heading {
    margin-top: 2rem;
  }
}
@media (min-width: 768px) {
  .Contact-InfoSection {
    padding-left: 3rem;
  }
}
@media (min-width: 992px) {
  .Contact-InfoSection {
    float: right;
    width: 50%;
    padding-top: 1rem;
    padding-left: 0;
  }
}
@media (min-width: 1200px) {
  .Contact-InfoSection {
    width: 45%;
  }
}

/**
 * Social
 */
.Contact-SocialSection {
  clear: both;
  margin-top: 2rem;
  padding-left: .5rem;
}
.Contact-SocialLink {
  display: inline-block;
  margin-right: 1.5rem;
}
.Contact-SocialImage {
  width: 100%;
  height: 100%;
}
@media (min-width: 576px) {
  .Contact-SocialSection {
    padding-top: 3rem;
  }
}
@media (min-width: 768px) {
  .Contact-SocialSection {
    padding-left: 3rem;
  }
}
@media (min-width: 992px) {
  .Contact-SocialSection {
    clear: none;
    float: left;
    width: 50%;
    padding-top: 0;
  }
  .Contact-SocialLink {
    width: 1.5rem;
    height: 1.5rem;
  }
}
