.Contact {
  padding-top: 4.5rem;
  padding-bottom: 2rem;
}

/* Header */
.Contact-Image {
  width: 100%;
}
.Contact-HeaderLarge {
  display: none;
}
@media (min-width: 400px) {
  .Contact-HeaderSmall {
    display: none;
  }
  .Contact-HeaderLarge {
    display: block;
  }
}

/* Title & Subtitle */
.Contact-TitleBlock {
  margin-top: 2rem;
}
.Contact-Title {
  display: inline;
  padding: 0 .5rem .25rem;
  background-color: #df1720;
  color: white;
  font-size: 1.5rem;
  box-decoration-break: clone;
}
.Contact-Subtitle {
  display: inline-block;
  margin-top: .75rem;
  margin-left: .5rem;
  font-size: 1rem;
}

/* Info */
.Contact-InfoBlock {
  padding-left: .5rem;
}
.Contact-MailLink {
  color: #df1720;
}
.Contact-Heading {
  display: block;
  margin-top: 2.5rem;
  margin-bottom: .5rem;
  color: #393f42;
  font-size: 1.15rem;
  font-weight: 500;
  line-height: 1;
}
.Contact-Paragraph {
  display: block;
  color: #393f42;
  line-height: 1.75;
}

/* Social */
.Contact-SocialBlock {
  margin-top: 2rem;
  padding-left: .5rem;
}
.Contact-SocialLink {
  margin-right: 1.5rem;
}





/*.Contact-TitleBlock {
  margin-top: 1rem;
  margin-left: 0rem;
  margin-bottom: 3rem;
}*/
/*.Contact-Title {
  display: inline-block;
  padding: 0 .5rem .25rem;
  background-color: #df1720;
  color: white;
  font-size: 1.75rem;
  box-decoration-break: clone;
}*/

/*.Contact-Subtitle {
  margin-top: .5rem;
  margin-left: .5rem;
  font-size: 1.25rem;
  font-weight: 500;
}*/

.Contact-DataBlocks {
  /*display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;*/
  margin-bottom: 3rem;
  padding-left: .5rem;
}

.Contact-DataBlock {
  width: 100%;
}

/*.Contact-Heading {
  margin: 1.5rem 0 .5rem;
  color: #393f42;
  font-size: 1.25rem;
  font-weight: 500;
}*/

/*.Contact-Paragraph {
  color: #393f42;
  line-height: 1.75;
}*/

/*.Contact-SocialBlock {
  margin-bottom: 2rem;
  text-align: center;
}*/

.Contact-SocialImage {
  width: 1.5rem;
  height: 1.5rem;
}

@media (min-width: 992px) {
  .Contact-TitleBlock {
    width: 50%;
    float: left;
  }
  .Contact-DataBlocks {
    width: 50%;
    float: right;
  }
  /*.Contact-DataBlock {
    width: 25%;
  }*/
  /*.Contact-SocialBlock {
    float: left;
    width: 50%;
  }*/
}
