.PrivacyPolicy-Main {
  padding-top: 72px;
}

.PrivacyPolicy-list {
  padding: 0;
}

.PrivacyPolicy-item {
  line-height: 1.5;
  letter-spacing: normal;
  color: #3b4143;
  margin: 0 0 8px;
}

.PrivacyPolicy-item {
  list-style-type: none;
}
