.MemberCard-Quote {
  font-size: 1.25rem;
}

.MemberCard-Description {
  font-size: .6rem;
  font-weight: 500;
  line-height: 1.7;
}

/**
 * HEADER
 */
.MemberCard-HeaderText {
  font-size: .75rem;
  font-weight: 600;
}
.MemberCard-HeaderTextSmall {
  margin-bottom: .25rem;
  font-size: .6rem;
  font-weight: 400;
}

/**
 * TABLE
 */
.MemberCard-Table {
  display: block;
  width: 100%;
}
.MemberCard-TableRow {
  display: flex;
  justify-content: space-between;
  padding: 0rem .25rem;
}
.MemberCard-TableRow:not(:last-child) {
  border-bottom: 1px solid rgba(127, 14, 19, .25) !important;
}
.MemberCard-TableCell {
  font-size: .6rem;
  font-weight: 500;
  line-height: 2.2;
}
.MemberCard-TableCell_bolder {
  font-weight: 700;
}
