.Nav {
  position: fixed;
  width: 100%;
  padding: 1.5rem 0;
  background-color: white;
}

.Nav-Inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Nav-Logo {
  height: 1.5rem;
}
