.Work-HeaderImage {
  width: 100%;
}

.DotControls {
  display: inline-flex;
}
.DotControl {
  width: 1rem;
  height: 1rem;
  border: .25rem solid transparent;
  padding: 0;
  background: none;
  cursor: pointer;
}
.DotControl:first-child {
  margin-left: -.25rem;
}
.DotControl:not(:first-child) {
  margin-left: .5rem;
}
.DotControl:last-child {
  margin-right: -.25rem;
}
.DotControl:not(:last-child) {
  margin-right: .5rem;
}
.DotControl-Fill {
  width: .5rem;
  height: .5rem;
  border-radius: 50%;
  background-color: #393f42;
}
.DotControl-Fill_active {
  background-color: #df1720 !important;
}

.Pills {
  margin: 4rem auto 1.5rem;
  text-align: center;
}
.Pills-Item {
  display: inline-block;
  margin-right: 1.5rem;
  margin-bottom: 1rem;
  padding: .5rem;
  color: #393f42;
}
.Pills-Item_active {
  background-color: #df1720;
  color: white;
  font-weight: 600;
}

/*
  CARD
*/
.ProjectCard {
  text-align: center;
}
.ProjectCard-Image {
  width: 100%;
}
.ProjectCard-Title {
  margin-top: 1rem;
  color: #393f42;
  font-size: 1.25rem;
}
.ProjectCard-Subtitle {
  color: #393f42;
  font-size: .9rem;
  font-weight: 600;
}

@media (min-width: 576px) {
  .Pills {
    text-align: left;
  }
  .ProjectCard {
    text-align: left;
  }
}

.Work-Footer {
  padding: 8rem 1rem 6rem;
  background-size: cover;
  background-position-x: 10%;
  background-position-y: center;
  text-align: center;
}
.Work-FooterTitle {
  padding: 0 .5rem;
  background-color: #df1720;
  color: white;
  font-size: 1.5rem;
  line-height: 1.4;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.Work-FooterSubtitle {
  margin-top: .5rem;
  color: white;
  font-size: 1.1rem;
}
.Work-FooterButtonImage {
  width: 2.5rem;
  height: 2.5rem;
  margin-top: 3rem;
}
