.Work {
  padding-top: 4.5rem;
}

/**
 * HEADER CAROUSEL
 */
.Work-HeaderCarouselLarge {
  display: none;
}
.Work-HeaderImage {
  width: 100%;
  height: 18rem;
  object-fit: cover;
  object-position: center;
}
.Work-HeaderControls {
  margin-top: 1rem;
  margin-right: 1.5rem;
  text-align: right;
}
@media (min-width: 576px) {
  .Work-HeaderCarouselSmall {
    display: none;
  }
  .Work-HeaderCarouselLarge {
    display: block;
  }
  .Work-HeaderControls {
    margin-right: 0;
  }
}
@media (min-width: 768px) {
  .Work-HeaderImage {
    height: 36%;
  }
}

/**
 * FILTERS
 */
.Work-Select {
  max-width: 22rem;
  margin: 1.5rem auto;
}
.Work-Pills {
  display: none;
  margin: 3rem auto 1.5rem;
  text-align: center;
}
@media (min-width: 400px) {
  .Work-Select {
    display: none;
  }
  .Work-Pills {
    display: block;
  }
}
@media (min-width: 576px) {
  .Work-Pills {
    text-align: left;
  }
}

/**
 * PILLS
 */
.Pills {
  display: inline-block;
  white-space: nowrap;
  overflow-x: visible;
}
.Pills-Item {
  display: inline-block;
  margin-bottom: 1rem;
  padding: .5rem;
  color: #393f42;
}
.Pills-Item:not(:last-child) {
  margin-right: 1.5rem;
}
.Pills-Item_active {
  background-color: #df1720;
  color: white;
  font-weight: 600;
}

/*
  DEPRECATED CARD STYLES
*/
.ProjectCard {
  text-align: left;
}
.ProjectCard-Image {
  width: 100%;
}
.ProjectCard-Title {
  margin-top: 1rem;
  color: #393f42;
  font-size: 1.25rem;
}
.ProjectCard-Subtitle {
  color: #393f42;
  font-size: .9rem;
  font-weight: 600;
}
@media (min-width: 576px) {
  .ProjectCard {
    text-align: left;
  }
}
