.PostCarousel-Image {
  width: 100%;
  height: 18rem;
  object-fit: cover;
  object-position: center;
}

.PostCarousel-Controls {
  margin-top: 1rem;
  margin-right: 1.5rem;
  text-align: right;
}

@media (min-width: 576px) {
  .PostCarousel-Controls {
    margin-right: 0;
  }
}
@media (min-width: 768px) {
  .PostCarousel-Image {
    height: 36vw;
  }
}
