/*
  HEADER
*/
.About-Header {
  display: flex;
  height: 100vh;
  align-items: flex-end;
  padding: 1.5rem 0;
  color: white;
}

.About-HeaderSubtitle {
  display: inline-block;
  margin-top: .75rem;
  margin-left: .5rem;
}

.About-HeaderSpacer {
  display: block;
  height: 10vh;
}

/* "More" link */
.About-HeaderLink {
  display: flex;
  align-items: center;
  margin-left: .5rem;
}
.About-HeaderLinkImage {
  width: 2rem;
  height: 2rem;
  margin-right: .75rem;
  transform: rotate(90deg);
}
.About-HeaderLinkLabel {
  font-size: .9rem;
  font-weight: 600;
}
