/*
  HEADER
*/
.About-Header {
  display: flex;
  height: 100vh;
  align-items: center;
  color: white;
}
.About-HeaderTitle {
  /*background-color: #df1720;
  font-size: 1.75rem;
  line-height: 1.17;
  letter-spacing: normal;
  box-decoration-break: clone;*/
  padding: 0 .5rem;
  background-color: #df1720;
  color: white;
  font-size: 1.5rem;
  line-height: 1.4;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.About-HeaderSubtitle {
  margin-top: .5rem;
  color: white;
  font-size: 1.1rem;
}
