.CultureCarousel {
  position: relative;
}

.CultureCarousel-Image {
  width: 100%;
}

.CultureCarousel-TextBlock {
  display: inline-block;
  margin-bottom: 1.75rem;
  padding-left: .5rem;
}
.CultureCarousel-Title {
  display: inline-block;
  margin-left: .5rem;
  color: #df1720;
  font-size: 1.75rem;
  font-weight: 500;
}
.CultureCarousel-Subtitle {
  display: inline-block;
  background-color: #df1720;
  margin-top: .25rem;
  margin-bottom: .75rem;
  padding: 0 .5rem .15rem;
  color: white;
  font-size: 1.75rem;
  font-weight: 500;
}
.CultureCarousel-Paragraph {
  margin-left: .5rem;
  color: #393f42;
  line-height: 1.4;
}

@media (min-width: 768px) {
  .CultureCarousel-Image {
    width: 75%;
  }
  .CultureCarousel-TextBlock {
    position: absolute;
    top: 2rem;
    right: 0;
    width: 17rem;
  }
  .CultureCarousel-Subtitle {
    display: block;
  }
}
@media (min-width: 992px) {
  .CultureCarousel-Image {
    width: 78%;
  }
}
