.Homepage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  background-color: #393f42;
}

.Homepage-NavStub {
  padding: 1.5rem 0;
}
.Homepage-LogoLink {
  display: inline-block;
  height: 1.5rem;
}
.Homepage-Logo {
  height: 100%;
}

.Homepage-Title {
  color: white;
  font-size: 2.25rem;
  font-weight: 500;
  line-height: 1.7;
}
.Homepage-Subtitle {
  display: inline-block;
  padding: 0 .35rem .2rem;
  background-color: #df1720;
  color: white;
  font-size: 1rem;
}

.Homepage-Menu {
  padding: 0;
  list-style: none;
}
.Homepage-MenuItem {
  display: inline;
  margin-right: .75rem;
  padding: 0 .25rem .5rem;
  background-color: #df1720;
  color: white;
  font-size: 3.5rem;
  font-weight: 300;
  text-transform: lowercase;
}
