/**
 * ARTICLE (Tag)
 */
.Homepage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  background-color: #393f42;
  background-size: cover;
  background-position: center;
}


/**
 * HEADER
 */
.Homepage-NavStub {
  padding: 1.5rem 0;
}
.Homepage-LogoLink {
  display: inline-block;
  height: 1.5rem;
}
.Homepage-Logo {
  height: 100%;
}


/**
 * MAIN
 */
.Homepage-Main {
  flex-grow: 1;
  padding-top: 20vh;
}
@media (min-width: 576px) {
  .Homepage-Main {
    padding-top: 40vh;
  }
}


/**
 * FOOTER
 */
.Homepage-MoreLink {
  display: inline-flex;
  align-items: center;
  color: white;
  font-weight: 600;
  text-decoration: none;
}
.Homepage-MoreLinkImage {
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
}
.Homepage-MoreLinkWrapper {
  padding-bottom: 1.5rem;
}
@media (min-width: 768px) {
  .Homepage-MoreLinkWrapper {
    text-align: right;
  }
}
