/* Barlow font */
@import url('https://fonts.googleapis.com/css?family=Barlow:400,500,600,700&display=swap');

/* Material Icons */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
  margin: 0;
  font-family: 'Barlow', sans-serif;
  font-size: 1rem;
}
