/**
 * POST (Article tag)
 */
.Post {
  padding: 1.5rem 1rem;
}
@media (min-width: 576px) {
  .Post {
    padding: 1.5rem;
  }
}
@media (min-width: 768px) {
  .Post {
    padding: 2.5rem;
  }
}


/**
 * HEADER
 */
.Post-Header {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 2rem;
  padding-top: 67%;
  background-color: #393f42;
}
.Post-Image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
@media (min-width: 576px) {
  .Post-Header {
    padding-top: 36%;
  }
}


/**
 * MAIN
 */
.Post-Main {
  color: #393f42;
}
.Post-Heading {
  display: block;
  margin: 0;
  color: #393f42;
  font-size: 2.5rem;
  font-weight: 400;
}
.Post-Tag {
  display: inline;
  padding: .1rem .25rem .25rem;
  background-color: #df1720;
  color: white;
  font-size: .9rem;
  font-weight: 600;
}

/* "More" section */
.Post-MoreSection {
  text-align: center;
  margin-top: 3rem;
}
.Post-MoreHeading {
  display: inline-block;
  padding: .1rem .5rem .15rem;
  background-color: #df1720;
  color: white;
  font-size: 1.35rem;
  font-weight: 400;
}
.Post-MoreParagraph {
  display: block;
  margin-top: .5rem;
  font-size: .9rem;
}
@media (min-width: 768px) {
  .Post-Main {
    padding: 1rem 2rem;
  }
  .Post-MoreSection {
    margin-top: 4rem;
  }
}
@media (min-width: 992px) {
  .Post-Main {
    padding: 1rem 3rem;
  }
  .Post-MoreSection {
    margin-top: 5rem;
  }
}


/**
 * FOOTER
 */
.Post-Footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #979797;
  margin-top: 3rem;
  padding-top: 2rem;
}
.Post-FooterLink {
  display: flex;
  align-items: baseline;
  text-decoration: none;
}
.Post-FooterLinkArrow {
  width: 1.25rem;
}
.Post-FooterLinkLabel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.Post-FooterLinkLabel_left {
  align-items: flex-start;
  margin-left: .5rem;
}
.Post-FooterLinkLabel_right {
  align-items: flex-end;
  margin-right: .5rem;
}
.Post-FooterLinkTitle {
  display: none;
  padding: .1rem .25rem .15rem;
  background-color: #df1720;
  color: white;
  text-transform: none;
}
.Post-FooterLinkSubtitle {
  color: #df1720;
  font-size: .9rem;
  font-weight: 600;
  text-decoration: underline;
}
@media (min-width: 768px) {
  .Post-Footer {
    margin: 2rem 2rem 0;
  }
  .Post-FooterLinkTitle {
    display: inline-block;
  }
  .Post-FooterLinkSubtitle {
    padding: .25rem;
    color: #393f42;
    text-decoration: none;
  }
}
@media (min-width: 992px) {
  .Post-Footer {
    margin: 3rem 3rem 0;
    padding-top: 3rem;
  }
}


/* content */
.Post-Content h1,
.Post-Content h2,
.Post-Content h3,
.Post-Content h4 {
  font-weight: 500;
}
.Post-Content h1 {
  font-size: 2rem;
}
.Post-Content a {
  color: #df1720;
  text-decoration: underline;
}
