.Nav {
  position: fixed;
  width: 100%;
  padding: 1.5rem 0;
  background-color: white;
}

.Nav-Inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Nav-LogoLink {
  display: inline-block;
  height: 1.5rem;
}
.Nav-Logo {
  height: 100%;
}

.Nav-Links {
  display: none;
}

.Nav-ExpandButton {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  padding: 0;
  background: none;
}

@media (min-width: 576px) {
  .Nav-ExpandButton {
    display: none;
  }
  .Nav-Links {
    display: block;
  }
}
