/**
 * OFFICE CAROUSEL
 */
/*.OfficeCarousel-Label {
  display: none;
  margin-bottom: 1.5rem;
}*/
.OfficeCarousel-Label_active {
  display: block;
  animation: fade 900ms ease;
}
.OfficeCarousel-ImageWrapper {
  position: relative;
  display: block;
  width: 100%;
  padding-top: 67%;
  background-color: white;
}
.OfficeCarousel-Image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 0;
  transition: opacity 500ms ease;
}
.OfficeCarousel-Image_active {
  opacity: 1;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.OfficeCarousel-ThumbnailsWrapper {
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .OfficeCarousel-Label_active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0;
    padding-right: 2.5rem;
  }
  .OfficeCarousel-Title {
    display: block;
  }
  .OfficeCarousel-Layout {
    display: grid;
    grid-template-columns: 50% 50%;
    
  }
  .OfficeCarousel-ThumbnailsWrapper {
    margin-top: 2rem;
  }
}
@media (min-width: 992px) {
  .OfficeCarousel-Layout {
    grid-template-columns: 40% 60%;
  }
  .OfficeCarousel-ThumbnailsWrapper {
    margin-top: 2.5rem;
  }
}
@media (min-width: 1200px) {
  /*.OfficeCarousel-Label {
    padding-right: 3.5rem;
  }*/
}



.OfficeCarousel-LabelWrapper {
  position: relative;
  height: 12.5rem;
}
.OfficeCarousel-Label {
  position: absolute;
  left: 0;
  right: 0;
  opacity: 0;
  transition: opacity 500ms ease;
}
.OfficeCarousel-Label_active {
  opacity: 1 !important;
}
@media (min-width: 768px) {
  .OfficeCarousel-LabelWrapper {
    height: auto;
  }
  .OfficeCarousel-Label {
    top: 50%;
    transform: translateY(-50%);
    padding-right: 2.5rem;
  }
}
